<h2 class="mb-5">登録企業 一覧</h2>

<% @clients.each do |client| %>
  <div class="border-bottom">
    <div class="d-flex justify-content-between">
      <h3><%= client.name %></h3>
      <%= link_to '詳細', client_path(client), class:"btn", style:"background-color: #f7efa2;" %>
    </div>  
    <p><%= client.industry %></p>
    <p><%= truncate(client.introduction) %></p>
  </div>
<% end %>