<h2 class="mb-5">スカウト 一覧</h2>
<% @scouts.each do |scout| %>
  <% if scout.user == current_user %>
    <div class="border-bottom mb-3">
      <div>  
        <h3><%= scout.client.name %></h3>
        <p><%= scout.created_at.strftime('%Y年%m月%d日%H時%M分') %>にスカウトメッセージが届きました</p>
      </div>
      <div>
        <h4><%= scout.message %></h4>
        <%= link_to "詳細", user_scout_path(scout.user, scout.client) %>
      </div>
    </div>  
  <% end %>
<% end %>